In [55]:
#This script analyse the impacts of Corona Virus in the World based on the data provided in 
# https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

In [14]:
# Step 0) updating tha local data - optional
## Download the timeseri of daily deaths per country

import pandas as pd
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
data = pd.read_csv(url)
data.to_csv('time_series_covid19_deaths_global.csv',index=False)

In [15]:
# Step 1) reading local data - mandatory

import pandas as pd
data = pd.read_csv('time_series_covid19_deaths_global.csv')

In [16]:
# step 2.1) Data Pre-precessing: removing unneccessory columns and aggregate data based on Country/Region Column

data.drop(['Lat', 'Long', 'Province/State'], axis='columns',inplace=True)
data = data.groupby('Country/Region').agg('sum').reset_index()

In [17]:
#data.rename(columns={'Country/Region':'Country'})

In [18]:
# Step 2.2) Convert the table so that each country and each day is a separate row 

new_data = pd.melt(data,id_vars='Country/Region',var_name='Date', value_name='Count')

In [19]:
new_data.columns=['Country','Date','Count']

In [20]:
# Step 3.1) create an in-memory SQLite DB 
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [21]:
# Step 3.2) Provide code to upload the table from step 3 into an SQL table named deaths_total
data.to_sql('deaths_total',con=engine)

In [22]:
# Step 4) From the data in step 2, calculate the daily change in deaths for each country
grouped_data = new_data.groupby('Country')
new_data['daily_change'] = grouped_data['Count'].diff()

In [23]:
# Step 5) Provide code to upload the table from step 4 into an SQL table named deaths_change_python
new_data.to_sql('deaths_change_python',con=engine)

In [24]:
connection.close()

NameError: name 'connection' is not defined

In [25]:
# Step 6) Provide SQL code to calculate the daily change for each country using only the data from deaths_total
# and save it into an SQL table named deaths_change_sql
# cday is equal to Date
# cvalue is equal to Count

# SQL CODE
'''
create table deaths_change_sql as
with CORONA_NEW as
 (select *
    from deaths_total unpivot(cvalue For cday IN("1_22_20" as '01/22/20',
                                           "1_23_20" as '01/23/20',
                                           "1_24_20" as '01/24/20',
                                           "1_25_20" as '01/25/20',
                                           "1_26_20" as '01/26/20',
                                           "1_27_20" as '01/27/20',
                                           "1_28_20" as '01/28/20',
                                           "1_29_20" as '01/29/20',
                                           "1_30_20" as '01/30/20',
                                           "1_31_20" as '01/31/20',
                                           "2_10_20" as '02/10/20',
                                           "2_11_20" as '02/11/20',
                                           "2_12_20" as '02/12/20',
                                           "2_13_20" as '02/13/20',
                                           "2_14_20" as '02/14/20',
                                           "2_15_20" as '02/15/20',
                                           "2_16_20" as '02/16/20',
                                           "2_17_20" as '02/17/20',
                                           "2_18_20" as '02/18/20',
                                           "2_19_20" as '02/19/20',
                                           "2_1_20" as '02/01/20',
                                           "2_20_20" as '02/20/20',
                                           "2_21_20" as '02/21/20',
                                           "2_22_20" as '02/22/20',
                                           "2_23_20" as '02/23/20',
                                           "2_24_20" as '02/24/20',
                                           "2_25_20" as '02/25/20',
                                           "2_26_20" as '02/26/20',
                                           "2_27_20" as '02/27/20',
                                           "2_28_20" as '02/28/20',
                                           "2_29_20" as '02/29/20',
                                           "2_2_20" as '02/02/20',
                                           "2_3_20" as '02/03/20',
                                           "2_4_20" as '02/04/20',
                                           "2_5_20" as '02/05/20',
                                           "2_6_20" as '02/06/20',
                                           "2_7_20" as '02/07/20',
                                           "2_8_20" as '02/08/20',
                                           "2_9_20" as '02/09/20',
                                           "3_10_20" as '03/10/20',
                                           "3_11_20" as '03/11/20',
                                           "3_12_20" as '03/12/20',
                                           "3_13_20" as '03/13/20',
                                           "3_14_20" as '03/14/20',
                                           "3_15_20" as '03/15/20',
                                           "3_16_20" as '03/16/20',
                                           "3_17_20" as '03/17/20',
                                           "3_18_20" as '03/18/20',
                                           "3_19_20" as '03/19/20',
                                           "3_1_20" as '03/01/20',
                                           "3_20_20" as '03/20/20',
                                           "3_21_20" as '03/21/20',
                                           "3_22_20" as '03/22/20',
                                           "3_23_20" as '03/23/20',
                                           "3_24_20" as '03/24/20',
                                           "3_25_20" as '03/25/20',
                                           "3_26_20" as '03/26/20',
                                           "3_27_20" as '03/27/20',
                                           "3_28_20" as '03/28/20',
                                           "3_29_20" as '03/29/20',
                                           "3_2_20" as '03/02/20',
                                           "3_30_20" as '03/30/20',
                                           "3_31_20" as '03/31/20',
                                           "3_3_20" as '03/03/20',
                                           "3_4_20" as '03/04/20',
                                           "3_5_20" as '03/05/20',
                                           "3_6_20" as '03/06/20',
                                           "3_7_20" as '03/07/20',
                                           "3_8_20" as '03/08/20',
                                           "3_9_20" as '03/09/20',
                                           "4_1_20" as '04/01/20',
                                           "4_2_20" as '04/02/20',
                                           "4_3_20" as '04/03/20',
                                           "4_4_20" as '04/04/20',
                                           "4_5_20" as '04/05/20')) t
   order by t.country_region)
select s.country_region,
       cday,
       Cvalue - lag(CVALUE, 1, 0) over(partition by country_region order by CDAY) as diff
  from corona_new s
 order by s.country_region, s.cday
'''

'\ncreate table deaths_change_sql as\nwith CORONA_NEW as\n (select *\n    from deaths_total unpivot(cvalue For cday IN("1_22_20" as \'01/22/20\',\n                                           "1_23_20" as \'01/23/20\',\n                                           "1_24_20" as \'01/24/20\',\n                                           "1_25_20" as \'01/25/20\',\n                                           "1_26_20" as \'01/26/20\',\n                                           "1_27_20" as \'01/27/20\',\n                                           "1_28_20" as \'01/28/20\',\n                                           "1_29_20" as \'01/29/20\',\n                                           "1_30_20" as \'01/30/20\',\n                                           "1_31_20" as \'01/31/20\',\n                                           "2_10_20" as \'02/10/20\',\n                                           "2_11_20" as \'02/11/20\',\n                                           "2_12_20" as \'02/12/20\',\n                                           "2_13_20" as \'02/13/20\',\n                                           "2_14_20" as \'02/14/20\',\n                                           "2_15_20" as \'02/15/20\',\n                                           "2_16_20" as \'02/16/20\',\n                                           "2_17_20" as \'02/17/20\',\n                                           "2_18_20" as \'02/18/20\',\n                                           "2_19_20" as \'02/19/20\',\n                                           "2_1_20" as \'02/01/20\',\n                                           "2_20_20" as \'02/20/20\',\n                                           "2_21_20" as \'02/21/20\',\n                                           "2_22_20" as \'02/22/20\',\n                                           "2_23_20" as \'02/23/20\',\n                                           "2_24_20" as \'02/24/20\',\n                                           "2_25_20" as \'02/25/20\',\n                                           "2_26_20" as \'02/26/20\',\n                                           "2_27_20" as \'02/27/20\',\n                                           "2_28_20" as \'02/28/20\',\n                                           "2_29_20" as \'02/29/20\',\n                                           "2_2_20" as \'02/02/20\',\n                                           "2_3_20" as \'02/03/20\',\n                                           "2_4_20" as \'02/04/20\',\n                                           "2_5_20" as \'02/05/20\',\n                                           "2_6_20" as \'02/06/20\',\n                                           "2_7_20" as \'02/07/20\',\n                                           "2_8_20" as \'02/08/20\',\n                                           "2_9_20" as \'02/09/20\',\n                                           "3_10_20" as \'03/10/20\',\n                                           "3_11_20" as \'03/11/20\',\n                                           "3_12_20" as \'03/12/20\',\n                                           "3_13_20" as \'03/13/20\',\n                                           "3_14_20" as \'03/14/20\',\n                                           "3_15_20" as \'03/15/20\',\n                                           "3_16_20" as \'03/16/20\',\n                                           "3_17_20" as \'03/17/20\',\n                                           "3_18_20" as \'03/18/20\',\n                                           "3_19_20" as \'03/19/20\',\n                                           "3_1_20" as \'03/01/20\',\n                                           "3_20_20" as \'03/20/20\',\n                                           "3_21_20" as \'03/21/20\',\n                                           "3_22_20" as \'03/22/20\',\n                                           "3_23_20" as \'03/23/20\',\n                                           "3_24_20" as \'03/24/20\',\n                                           "3_25_20" as \'03/25/20\',\n                                           "3_26_20" as \'03/26/20\',\n                                           "3_27_20" as \'03/27/20\',\n                                           "3_28_20" as \'03/28/20\',\n                                           "3_29_20" as \'03/29/20\',\n                                           "3_2_20" as \'03/02/20\',\n                                           "3_30_20" as \'03/30/20\',\n                                           "3_31_20" as \'03/31/20\',\n                                           "3_3_20" as \'03/03/20\',\n                                           "3_4_20" as \'03/04/20\',\n                                           "3_5_20" as \'03/05/20\',\n                                           "3_6_20" as \'03/06/20\',\n                                           "3_7_20" as \'03/07/20\',\n                                           "3_8_20" as \'03/08/20\',\n                                           "3_9_20" as \'03/09/20\',\n                                           "4_1_20" as \'04/01/20\',\n                                           "4_2_20" as \'04/02/20\',\n                                           "4_3_20" as \'04/03/20\',\n                                           "4_4_20" as \'04/04/20\',\n                                           "4_5_20" as \'04/05/20\')) t\n   order by t.country_region)\nselect s.country_region,\n       cday,\n       Cvalue - lag(CVALUE, 1, 0) over(partition by country_region order by CDAY) as diff\n  from corona_new s\n order by s.country_region, s.cday\n'

In [26]:
new_data.to_csv('new_data_python_last.csv')